---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


// Our variables
$base-font-family: 'Lora', sans-serif;
$base-font-size:   1.125rem;
$small-font-size:  $base-font-size * 0.675;
$base-line-height: 1.7;

$header-font-family: 'Inter', sans-serif;

$post-font-family: 'Lora', serif;
$post-title-font-family: 'Inter', serif;

$spacing-unit:     30px;

$text-color:       rgb(40, 40, 40);
$text-color-light: #adabac;
$background-color: hsla(0,0%,100%,.8);
$background-color-dark: #101012;
$brand-color:      #cd9023;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  rgba(0,0,0,.08);
$green-color:       #00a82d;

// Width of the content area
$content-width:    760px;

$on-palm:          600px;
$on-laptop:        760px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right:calc($spacing-unit / 2);
//         padding-left:calc($spacing-unit / 2);
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "dark-mode",
        "base",
        "layout",
        "home-posts",
        "syntax",
        "mermaid",
        "theme-toggle",
        "search",
        "../_includes/language_banner/language_banner"
;
