<aside id="languages-banner" class="languages-banner" role="dialog" hidden="true">
    <div class="languages-page-header__language-content padding-y-xs" lang="fr">
      <p class="languages-page-header__p">
        Contenu disponible en <a href="/fr/home" onclick="setLanguagesPreferenceCloseBannerAndRedirect(event, 'fr')" ontransitionend="event.stopPropagation()">Français</a>.
        <button onclick="setLanguagesPreferenceAndCloseBanner('fr')" title="Fermer" aria-label="Fermer" class="button button--ghost button--has-icon languages-page-header__button-close button--has-icon--is-white" ontransitionend="event.stopPropagation()">X</button>
      </p>
    </div>
    <div class="languages-page-header__language-content padding-y-xs" lang="en">
      <p class="languages-page-header__p">
        You can also read this in <a href="/" onclick="setLanguagesPreferenceCloseBannerAndRedirect(event, 'en')" ontransitionend="event.stopPropagation()">English</a>.
        <button onclick="setLanguagesPreferenceAndCloseBanner('en')" title="Close" aria-label="Close" class="button button--ghost button--has-icon languages-page-header__button-close button--has-icon--is-white" ontransitionend="event.stopPropagation()">X</button>
      </p>
    </div>
</aside>

<script>
  /*
    The languages banner contains text in all available languages.
    This function is used to pick the language most likely preferred by the user.
    By default, the banner is hidden. The function makes it visible when needed.
  */(function () {
      const hideGoogleTranslate = function(){
        const head = document.getElementsByTagName('head')[0];
        let tag = document.createElement('meta');
        tag.name = 'google';
        tag.content = 'notranslate';
        if (head) head.appendChild(tag);
      }

      const redirectToRightSubpath = function(preferenceLanguage) {
        const currentUrl = window.location.href;
        const pageLanguage = currentUrl.split("/")[3];
        if (!pageLanguage) {
          const newURL =  "/" +
            preferenceLanguage +
            "/home";
          location.href = newURL;
        }
      }

      const supportedLanguages = ['en','fr'];
      const pageLanguage = document.documentElement.lang;
      const agentLanguage = window.navigator.language.slice(0, 2);
      //const agentLanguage = 'fr';
      const banner = document.getElementById('languages-banner');
      let nodes;
      if (banner) nodes = banner.children;

      if (supportedLanguages.includes(agentLanguage)) hideGoogleTranslate();
      const preferenceLanguage = localStorage.getItem('preferenceLanguage');

      let languagesBannerViewCount = localStorage.getItem('languagesBannerViewCount');
      if (languagesBannerViewCount === null) {
        languagesBannerViewCount = 0;
      }
      else {
        languagesBannerViewCount = parseInt(languagesBannerViewCount);
      }
      
      /* Hide banner texts in other languages */
      if (nodes) {
        for (let node of nodes) {
          if (node.lang !== agentLanguage) {
            node.setAttribute('hidden', 'hidden'); /* Don't 'remove', because the array is a live array. */
          }
        }
      }

      /*
      If the translations have been ignored fewer than 4 times, the banner can be shown.
      If the page is in the agent's language, the banner can be shown.
      If the banner was closed once by the user but the client language changed, the banner can be shown.
      */
      if (
        languagesBannerViewCount < 4 &&
        pageLanguage != agentLanguage &&
        !preferenceLanguage
      ) {
        languagesBannerViewCount++;
        localStorage.setItem('languagesBannerViewCount', languagesBannerViewCount);

        if (banner) banner.removeAttribute('hidden');
      } else {
        redirectToRightSubpath(preferenceLanguage);
      }
    })();
    /*
    Event handlers
    */
    function setLanguagesPreferenceCloseBannerAndRedirect(e, lang) {
      e.preventDefault();
      hideLanguagesBanner();
      savePreferredLanguage(lang);
      location.href = e.target.href;
    }

    function setLanguagesPreferenceAndCloseBanner(lang) {
      hideLanguagesBanner();
      savePreferredLanguage(lang);
    }

    /* Hide the banner by covering it with the rest of the page */
    function hideLanguagesBanner() {
      /* Hide the banner */
      const banner = document.getElementById('languages-banner');
      banner.hidden = true;
    }

    function savePreferredLanguage(lang){
      console.log('lang', lang);
      const pageLanguage = lang;
      console.log('pageLanguage', pageLanguage);
      localStorage.setItem('preferenceLanguage', pageLanguage);
    }
</script>