---
layout: default
---
<div class="page-wrapper">
  <div class="home">

    <h1 class="page-heading">Posts</h1>

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">
            {{ post.date | date: "%b %-d, %Y" }}
            {% if post.external_url %}
            | {{ post.external_site }}
            {% endif %}
          </span>

          {% if post.external_url %}
            <h2>
                <a class="post-link post-link-external" href="{{ post.external_url | prepend: site.baseurl }}" target="_blank">
                  {{ post.title }}
                  <span class="icon icon-external-link"></span>
                </a>
            </h2>
          {% else %}
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <div class="divider"></div>

    {% include newsletter_block.html %}

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  </div>
</div>