<section class="newsletter-block">
    <h2>- Never miss a post -</h2>
    <p>Sign up for the newsletter and get the lattest articles in your inbox.</p>
    <div class="form-wrapper">
        <form method="post" action="https://gmail.us20.list-manage.com/subscribe/post?u=a06efaddd9d9f20d8e0d77523&amp;id=ddaf77225e" name="mc-embedded-subscribe-form">
            <input type="email" name="EMAIL" placeholder="Your email address" />
            <button type="submit">Subscribe</button>
        </form>
    </div>
</section>