/**
 * Site header
 */
.site-header {
    font-family: $base-font-family;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-header-wrapper {
    max-width: 1032px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}

.site-header-post {
    top: 0;
    display: block;
    z-index: 500;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.97);
    -webkit-box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)!important;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)!important;
}

.site-title {
    font-family: $post-font-family;
    font-size: 22px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }

    &:hover {
        text-decoration: none;
    }
}

.site-nav {
    text-transform: uppercase;
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color;
        font-size: 15px;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

        &:hover {
            color: $text-color;
            text-decoration: none;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    font-family: $base-font-family;
    padding: $spacing-unit 0;
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    .post-screenshot {
      border: 1px solid #ebebeb;
    }
}

.page-wrapper {
    max-width: 1032px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1207px) {
        padding: 0 16px 16px 16px;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    font-family: $base-font-family;
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        line-height: 30px;

        h2 {
            margin-block-start: 0;
            margin-bottom: 0px;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    font-weight: 400;
    color: $grey-color;
}

.post-link {
    color: rgba(0,0,0,.84);
    display: inline-block;
    font-size: 24px;
    font-weight: 500;

    &:hover {
        text-decoration: none;
    }

    &,
    &:visited {
        color: rgba(0,0,0,.84);
    }

    /*&.post-link-external {
        color: $green-color;
    }*/
}


/**
 * Posts
 */
.post {
    font-family: $post-font-family;
    margin-top: 65px;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1.25em;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    .post-screenshot {
      border: 1px solid #ebebeb;
    }
}

/** 
 * Newsletter block
 */
.newsletter-block {
    background-color: #fafafa;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    line-height: 28px;
    color: $grey-color;
    font-size: 18px;
    font-weight: 100;

    @media (max-width: 767px) {
        padding: 20px;

        p, h2 {
            text-align: left;
        }
    }

    p {
        margin-bottom: 0px;
    }

    h2 {
        color: $text-color;
        font-family: $post-font-family;
        font-size: 41px;
        font-weight: 500;
        line-height: 48px;
        margin-bottom: 16px;

        @media screen and (max-width: 767px) {
            font-size: 28px;
        }
    }

    .form-wrapper {
        display: inline-block;
    }

    form {
        margin-top: 35px;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        display: flex;
    }

    input[type="email"] {
        color: rgba(0,0,0,.76);
        fill: rgba(0,0,0,.76);
        border: 0;
        border-bottom: 1px solid rgba(0,0,0,.15);
        -webkit-border-radius: 0;
        border-radius: 0;
        padding: 0 5px;
        height: 35px;
        outline: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: transparent;
        --x-height-multiplier: 0.342!important;
        --baseline-multiplier: 0.22!important;
        font-size: 18px;
        line-height: 28px;
        transform: translateY(.12px);
        font-weight: 300;
    }

    button {
        margin-left: 20px;
        height: 37px;
        line-height: 37px;
        padding: 0 18px;
        background: rgba(0,0,0,.84);
        border-color: rgba(0,0,0,.84);
        color: rgba(255,255,255,.97);
        font-size: 15px;
        border-color: rgba(0, 0, 0, 0.84);
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
            background: #000;
            border-color: #000;
            color: rgba(255,255,255,.97);
        }

        &:focus {
            outline: 0;
        }
    }
}